.main-menu ul li {
    float: left;
    list-style-type: none;
}
.main-menu ul li a {
    display: inline-block;
    text-decoration: none;
    color:black;
    padding: 10px 10px;
}
.icon-bar{Ơ
padding: 10px 15px;
}
@media screen and (max-width : 640px){
    .main-menu ul{
        display: none;
    }
    .main-menu ul {
        float: none;
    }
}
@media screen and (max-width :768px) and (max-with: 641px) {
    
}